<app-page-search-view

  [publishers]="publishers$ | async"
  [searchQuery]="this.searchQuery"
  [posts]="posts$ | async"
  [workingPostReplies]="workingPostReplies$ | async"
  [workingPost]="workingPost$ | async"
  [session]="session$ | async"
  [currentUserProfile]="currentUserProfile$ | async"
  [profiles]="profiles$ | async"
  [exportKeyInfo]="exportKeyInfo$ | async"
  [getIsFundingModalOpen]="getIsFundingModalOpen$ | async"
  [alertsList]="alertsList$ | async"
  [activeViewingPost]="activeViewingPost$ | async"
  [modalState]="modalState$ | async"
  [openedTxLikeTips]="openedTxLikeTips$ | async"
>
</app-page-search-view>