<app-page-profile-view
  [workingPostReplies]="workingPostReplies$ | async"
  [workingPost]="workingPost$ | async"
  [session]="session$ | async"
  [currentUserProfile]="currentUserProfile$ | async"
  [exportKeyInfo]="exportKeyInfo$ | async"
  [getIsFundingModalOpen]="getIsFundingModalOpen$ | async"
  [alertsList]="alertsList$ | async"
  [directlyNavigatedToPost]="directlyNavigatedToPost"
  [followers]="followers$ | async"
  [profilePageId]="profilePageId$ | async"
  [profileId]="workingProfileId$ | async"
  [profiles]="profiles$ | async"
  [profilePosts]="profilePosts$ | async"
  [isEditProfile]="isEditProfile$ | async"
  [isConfirmPhoto]="isConfirmPhoto$ | async"
  [confirmPhotoTarget]="confirmPhotoTarget$ | async"
  [isConfirmAvatar]="isConfirmAvatar$ | async"
  [confirmAvatarTarget]="confirmAvatarTarget$ | async"
  [isConfirmName]="isConfirmName$ | async"
  [confirmNameTarget]="confirmNameTarget$ | async"

  [publishers]="publishers$ | async"
  [following]="following$ | async"
  [likes]="likes$ | async"
  [exportKeyInfo]="exportKeyInfo$ | async"
  [activeViewingPost]="activeViewingPost$ | async"
  [modalState]="modalState$ | async"
  [openedTxLikeTips]="openedTxLikeTips$ | async"
>
</app-page-profile-view>
