.basic-container
    background-color: #fff
    padding: 20px
    border-radius: 4px

    h2
        padding-top: 20px
        margin-top: 0px

    word-break: break-word

.table-codes
    font-size: 0.9em
    word-break: break-word

.nowrap
    white-space: nowrap
