
<div class="profile-preview-container d-none">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Welcome to BlockPress!
            </h5>
            <div class="card-text">
                <div>
                   <p>Decentralized social network powered by Bitcoin Cash and IPFS. Data stored 100% on-chain (BCH)</p>
                    <button class='btn btn-outline-success btn-welcome-info'>
                        Sign up
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>