<app-page-feed-view
  [routerState]="routerState$ | async"
  [shouldLoadIpfsScript]="shouldLoadIpfsScript$ | async"
  [publishers]="publishers$ | async"
  [posts]="posts$ | async"
  [workingPostReplies]="workingPostReplies$ | async"
  [workingPost]="workingPost$ | async"
  [session]="session$ | async"
  [currentUserProfile]="currentUserProfile$ | async"
  [profiles]="profiles$ | async"
  [exportKeyInfo]="exportKeyInfo$ | async"
  [getIsFundingModalOpen]="getIsFundingModalOpen$ | async"
  [alertsList]="alertsList$ | async"
  [activeViewingPost]="activeViewingPost$ | async"
  [modalState]="modalState$ | async"
  [openedTxLikeTips]="openedTxLikeTips$ | async"
  [profileSearch]="profileSearch$ | async"
  [postsState]="postsState$ | async"
>
</app-page-feed-view>