<app-page-discover-view
  [notifications]="notifications$ | async"
  [workingPostReplies]="workingPostReplies$ | async"
  [workingPost]="workingPost$ | async"

  [shouldLoadIpfsScript]="shouldLoadIpfsScript$ | async"
  [publishers]="publishers$ | async"
  [session]="session$ | async"
  [currentUserProfile]="currentUserProfile$ | async"
  [profiles]="profiles$ | async"
  [exportKeyInfo]="exportKeyInfo$ | async"
  [getIsFundingModalOpen]="getIsFundingModalOpen$ | async"
  [alertsList]="alertsList$ | async"
  [activeViewingPost]="activeViewingPost$ | async"
  [modalState]="modalState$ | async"
  [openedTxLikeTips]="openedTxLikeTips$ | async"
  [profileSearch]="profileSearch$ | async"
>
</app-page-discover-view>