<section class="modal-container" appModal>
    <div class="container">
        <div class="modal">
            <header class="modal-section">
                <h3>Warning</h3>
                <a (click)="hideModal.emit()" class="exit text--no_decoratiogn"><span class="background-icon cancel-icon" aria-hidden="true"></span></a>
            </header>
            <section class="modal-section modal-section--with_border">

                 warning
            </section>

            <section class="modal-section controls">
                <button (click)="showNextModal.emit()" class="btn btn-primary btn--normal btn-row-space--left">NEXT</button>
            </section>
        </div>
    </div>
</section>